<%- include('./partials/header') -%>

<div class="section py-8">
    <div class="container">
        <h1 class="text-amber-900 text-2xl font-bold mb-4">
            <%= pageTitle || 'About Us' %>
        </h1>
        <p>
            <%= content %>
        </p>
    </div>
</div>
<%- include('./partials/footer') -%>
