<%- include('./partials/header') -%>

<div class="section py-8">
    <div class="container">
        <h1 class="text-3xl text-amber-900 font-bold">Hello World</h1>
    </div>
</div>

<%- include('./partials/footer') -%>