<%- include('./partials/header') -%>

<div class="hero mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl sm:text-3xl text-amber-950">Hello World</h1>
</div>

<%- include('./partials/footer') -%>