<%- include('./partials/header') -%>

<div class="section py-8">
    <div class="container">
        <h1 class="text-amber-900 text-2xl font-bold mb-4">
            <%= pageTitle || 'Publish' %>
        </h1>
        <p>
            <%= content %>
        </p>
    </div>
</div>

<div class="section py-8">
    <div class="container">
        <form action="/publish" class="block max-w-xl" method="post">
            <label for="title" class="block mb-4">
                <span class="block text-sm font-bold mb-2 text-amber-950">Post Title</span>
                <input required class="block w-full border-2 rounded-sm border-amber-500 focus:outline-none focus:border-amber-900 transition-colors duration-200 px-2 py-1 text-amber-950" type="text" name="postTitle" id="title">
            </label>
            <label for="body" class="block mb-6">
                <span class="block text-sm font-bold mb-2 text-amber-950">Post Body</span>
                <textarea name="postBody" id="body" cols="30" rows="10" class="block w-full border-2 rounded-sm border-amber-500 focus:outline-none focus:border-amber-900 transition-colors duration-200 px-2 py-1 text-amber-950"></textarea>
            </label>
            <button class="text-sm tracking-wider block bg-amber-500 rounder-sm hover:bg-amber-950 text-white px-6 py-2 font-bold duration-200 transition-colors" type="submit">Publish</button>
        </form>
    </div>
</div>

<%- include('./partials/footer') -%>
